
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>查看和审批退货单</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    <style type="text/css" media="print">
        .PrintBackOutInput {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="recordController">
        <div style="width:100%">
            <div>
                <table style="width:100%;" border="1">
                    <tr>
                        <td colspan="8" style="text-align:center">
                            <h2>退货单</h2>
                            <span class="label label-info PrintBackOutInput" ng-show="info.BillState==1">已保存</span>
                            <span class="label label-success PrintBackOutInput" ng-show="info.BillState==2">已审核</span>
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdname">立邦客户编号：</td>
                        <td>{{info.LBCustomerCode}}</td>
                        <td class="tdname">联系人：</td>
                        <td>{{info.LBContacts}}</td>
                        <td class="tdname">退货单号：</td>
                        <td>{{info.LBBillCode}}</td>
                        <td class="tdname">退货原因：</td>
                        <td>{{info.LBReson}}</td>
                    </tr>
                    <tr>
                        <td>立邦客户名称：</td>
                        <td>{{info.LBCustomerName}}</td>
                        <td>电话：</td>
                        <td>{{info.LBPhone}}</td>
                        <td>原交货单号：</td>
                        <td>{{info.LBGiveBillCode}}</td>
                        <td>备注：</td>
                        <td>{{info.LBRemark}}</td>
                    </tr>
                    <tr>
                        <td>邮编：</td>
                        <td>{{info.LBMailCode}}</td>
                        <td>退货地址：</td>
                        <td colspan="3">{{info.LBSendAddress}}</td>
                        <td>申请日期：</td>
                        <td>{{info.LBBillDate}}</td>
                    </tr>
                </table>
                <br />
                <table style="width:100%;" border="1">
                    <tr>
                        <td class="tdname2">退货单号：</td>
                        <td>{{info.BillCode}}</td>
                        <td class="tdname2">退货申请日期：</td>
                        <td>{{info.CreateDate}}</td>
                        <td class="tdname2">入库类别：</td>
                        <td>{{info.InputType}}</td>
                        <td class="tdname2">仓库：</td>
                        <td>{{info.Warehouse}}</td>
                        <td class="tdname2">业务模式：</td>
                        <td>{{info.BusinessType}}</td>

                    </tr>
                    <tr>
                        <td>装卸类型：</td>
                        <td>{{info.LoadGoodsType}}</td>
                        <td>线路：</td>
                        <td>{{info.LineWay}}</td>
                        <td>仓管员：</td>
                        <td>{{info.ChargePerson}}</td>
                        <td>部门：</td>
                        <td>{{info.Department}}</td>
                        <td>制单人：</td>
                        <td>{{info.MakePerson}}</td>
                    </tr>
                    <tr>
                        <td>审核人：</td>
                        <td>{{info.ExaminePerson}}</td>
                        <td>审核日期：</td>
                        <td>{{info.ExamineDate}}</td>
                        <td>备注：</td>
                        <td colspan="5">{{info.Remark}}</td>
                    </tr>
                </table>
                <br />
                <table style="width:100%;" border="1">
                    <tr>
                        <th>编号</th>
                        <th>物料编码</th>
                        <th>物料分类</th>
                        <th>产品名称</th>
                        <th>包装规格</th>
                        <th>单位</th>
                        <th>数量</th>
                        <!--新-->
                        <th>单位重量(KG)</th>
                        <th>重量(KG)</th>
                        <th>批次</th>
                        <th>货位</th>
                    </tr>
                    <tr ng-repeat="record in info.Record">
                        <td>{{$index+1}}</td>  @*编号*@
                        <td>{{record.ItemCode}}</td>
                        <td>{{record.ItemLine}}</td>
                        <td>{{record.ItemName}}</td>
                        <td>{{record.ItemSpecifications}}</td>
                        <td>{{record.ItemUnit}}</td>
                        <td>{{record.Count}}</td>
                        <!--新-->
                        <td>{{record.UnitWeight}}</td>
                        <td>{{record.Weight}}</td>
                        <td>{{record.ItemBatch}}</td>
                        <td>{{record.ItemLocation}}</td>
                    </tr>
                    <tr><td><h6>合计：</h6></td><td></td><td></td><td></td><td></td><td></td><td><span ng-bind="getTotalCount()"></span></td><td></td><td><span ng-bind="getTotalWeight()"></span></td><td></td><td></td></tr>
                </table>
                <br />
                <div style="text-align:center" class="PrintBackOutInput">
                    <button type="button" class="btn btn-success btn-md" ng-click="edit()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;编&nbsp;&nbsp;&nbsp;辑&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info btn-md" ng-click="submit()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;审&nbsp;&nbsp;&nbsp;核&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info btn-md" ng-click="giveupexamine()" ng-show="info.BillState==2">&nbsp;&nbsp;&nbsp;弃&nbsp;&nbsp;&nbsp;审&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn  btn-success btn-md" ng-click="PrintBackOutInput()">&nbsp;&nbsp;&nbsp;打&nbsp;&nbsp;&nbsp;印&nbsp;&nbsp;&nbsp;</button>
                    <button id="print" class="btn btn-info btn-md " ng-click="exportExcel()">&nbsp;&nbsp;&nbsp;导&nbsp;&nbsp;&nbsp;出&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="print btn btn-danger btn-md " ng-click="deleteBill()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;删&nbsp;&nbsp;&nbsp;除&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                return date.getFullYear() + "-" + month + "-" + day;
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('recordController', function ($scope, $http) {
            $http.post("/BackOutput/GetData", {}, { params: { "BackOutputId": "@ViewBag.BackOutputId" } }).success(function (response) {
                //修改时间格式
                response.LBBillDate = jsonDateFormat(response.LBBillDate);
                response.CreateDate = jsonDateFormat(response.CreateDate);
                response.ExamineDate = jsonDateFormat(response.ExamineDate);
                //绑定数据源
                $scope.info = response;
            });
            //计算总数量
            $scope.getTotalCount = function () {
                if ($scope.info == undefined) return;
                var res = 0;
                for (var i = 0; i < $scope.info.Record.length; i++) {
                    if ($scope.info.Record[i].Count != null && $scope.info.Record[i].Count != undefined) {
                        res += $scope.info.Record[i].Count;
                    }
                }
                return res.toFixed(2);
            }
            //计算总重量
            $scope.getTotalWeight = function () {
                if ($scope.info == undefined) return;
                var res = 0;
                for (var i = 0; i < $scope.info.Record.length; i++) {
                    if ($scope.info.Record[i].Weight != null && $scope.info.Record[i].Weight != undefined) {
                        res += parseFloat($scope.info.Record[i].Weight);
                    }
                }
                return res.toFixed(2);
            }
            //---------------------------------------------------------------------------
            //审核（examine）
            $scope.submit = function () {
                $http.post("/BackOutput/Examine", {}, { params: { "BackOutputId": "@ViewBag.BackOutputId" } }).success(function (response) {
                    if (response == "审核成功！") {
                        alert("审核成功！");
                        window.location.href = 'IndexShow?BackOutputId=@ViewBag.BackOutputId';
                    }
                    else {
                        alert(response);
                    }
                });
            }
            //跳转到编辑页
            $scope.edit = function () {
                window.location.href = 'Index?BackOutputId=@ViewBag.BackOutputId';
            }
            //弃审
            $scope.giveupexamine = function () {
                $http.post("/BackOutput/GiveupExamine", { billCode: "@ViewBag.BackOutputId" }).success(function (response) {
                    if (response == '操作成功') {
                        alert(response);
                        window.location.href = 'IndexShow?BackOutputId=@ViewBag.BackOutputId';
                    } else {
                        alert(response);
                    }

                })

            }
            //打印页面
            $scope.PrintBackOutInput = function () {
                setTimeout(window.print(), 200);
            }
            //导出excel
            $scope.exportExcel = function () {
                window.open("/ExportBill/ExprotExcel?billType=backOutput&billId=@ViewBag.BackOutputId");
            }
            //删除单据
            $scope.deleteBill = function () {
                if ($scope.info.BillState != 1) {
                    alert('只有已保存状态的单据才可以删除！');
                    return;
                }
                $http.post('/BackOutput/DeleteBill', { BillId: '@ViewBag.BackOutputId' }).success(function (response) {
                    alert(response);
                    if (response == '删除成功！') {
                        window.parent.window.parent.closeCurrentPage();//关闭当前页
                    }

                });
            }
        })
    </script>
</body>
</html>
