
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    <title>任务单</title>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="MainController">
        <div class="row" style="width:100%">
            <form ng-submit="submit()">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-condensed titletable">
                        <tr>
                            <td colspan="9" style="text-align:center"><h2>任务单</h2></td>
                        </tr>
                        <tr>
                            <td>任务单号：</td>
                            <td><input class="form-control" type="text" name="name" ng-model="info.BillCode"  required/></td>
                            <td>部门：</td>
                            <td>
                                <select class="form-control" ng-options="Departent.DeptName for Departent in Departents" ng-model="CurrentDepartment" required ng-change="departentChange(CurrentDepartment)"></select>
                            </td>

                        </tr>
                        <tr>
                            <td>操作人：</td>
                            <td><input class="form-control" type="text" name="name" ng-model="info.MakePerson" disabled /></td>
                            <td>操作日期：</td>
                            <td><input class="form-control" type="date" name="name" ng-model="info.CreateDate" disabled /></td>
                            <td>审核人：</td>
                            <td><input class="form-control" type="text" name="name" ng-model="info.ExaminePerson" disabled /></td>
                            <td>审核日期：</td>
                            <td><input class="form-control" type="date" name="name" ng-model="info.ExamineDate" disabled /></td>
                        </tr>
                    </table>
                    <div>
                        <table class="table table-bordered table-striped table-condensed">
                            <tr>
                                <th>编号</th>
                                <th>系统单号</th>
                                <th>立邦交货单号</th>
                                <th>客户编号</th>
                                <th>客户名称</th>
                                <th>交货日期</th>
                                <th>删除</th>
                            </tr>
                            <tr ng-repeat="record in Records">
                                <td>{{$index+1}}</td>  @*编号*@
                                <td>{{record.BillCode}}</td>
                                <td>{{record.LBBillCode}}</td>
                                <td>{{record.LBCustomerCode}}</td>
                                <td>{{record.LBCustomerName}}</td>
                                <td>{{record.LBBillDate}}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" ng-click="del($index)">删除</button></td>
                            </tr>
                        </table>
                        <div>
                            <button class="btn btn-info" data-toggle="modal" data-target="#givebll" style="float:right">添加交货单</button>
                        </div>
                        <br />
                        <br />
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-success btn-md">&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;</button>
                        </div>

                        @*-------------------------------------交货单模态框-----------------------------------------*@
                        <div class="modal fade" id="givebll">
                            <div class="modal-dialog" style="width:850px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">请选交货单</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <tr>
                                                <td><input type="text" name="name" value="" placeholder="交货单号" class="form-control"  ng-model="giveBillId"/></td>
                                                <td><input type="text" name="name" value="" placeholder="立邦单号" class="form-control" ng-model="LBBillCode" /></td>
                                                <td><input type="date" name="name" value="" class="form-control" ng-model="timestart" /></td>
                                                <td><input type="date" name="name" value="" class="form-control" ng-model="timeend" /></td>
                                                <td><input type="button" class="btn btn-success" value="查询" ng-click="GiveBillSearch()" /></td>
                                            </tr>
                                        </table>

                                        <table class="table table-bordered table-striped table-condensed">
                                            <tr>
                                                <th>编号</th>
                                                <th>系统单号</th>
                                                <th>立邦交货单号</th>
                                                <th>客户编号</th>
                                                <th>客户名称</th>
                                                <th>交货日期</th>
                                            </tr>
                                            <tr ng-repeat="GiveBill in GiveBills" ng-dblclick="selectGiveBill(GiveBill)">
                                                <td>{{$index+1}}</td>
                                                <td>{{GiveBill.BillCode}}</td>
                                                <td>{{GiveBill.LBBillCode}}</td>
                                                <td>{{GiveBill.LBCustomerCode}}</td>
                                                <td>{{GiveBill.LBCustomerName}}</td>
                                                <td>{{GiveBill.LBBillDate}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        @*-------------------------------------交货单模态框end-----------------------------------------*@
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate,state) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                var date = date.getFullYear() + "-" + month + "-" + day;
                if (state == 1)
                    return date;
                else
                    return new Date(date);
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('MainController', function ($scope, $http) {
            //获取基础数据
            $http.post("/BaseInfo/GetBaseInfo").success(function (response) {
                $scope.Departents = response.Departent;//部门信息
            });
            //如果有单号 获取单据内容
            $http.post("/TaskBill/GetData", {}, { params: { "TaskBillId": "@ViewBag.TaskBillId" } }).success(function (response) {
                //绑定数据源
                $scope.info = response;
                if (response.Id != '00000000-0000-0000-0000-000000000000') //如果不是新表单
                {
                    //修改时间格式
                    $scope.info.CreateDate = jsonDateFormat($scope.info.CreateDate);
                    $scope.info.ExamineDate = jsonDateFormat($scope.info.ExamineDate);
                    //给当前部门赋值
                    for (var i = 0; i < $scope.Departents.length; i++) {
                        if ($scope.Departents[i].DeptCode == $scope.info.DepartmentId) {
                            $scope.CurrentDepartment = $scope.Departents[i];
                            break;
                        }
                    }
                    //获取交货单记录
                    $http.post("/GiveBill/GetTaskBillsGiveBill", { TaskBillCode: response.BillCode }).success(function (res) {
                        //修改时间
                        for (var i = 0; i <res.length; i++) {
                            res[i].LBBillDate = jsonDateFormat(res[i].LBBillDate,1);
                        }
                        $scope.Records = res;
                    });
                } else {
                    //新表单 交货单记录为空
                    $scope.Records = [];
                }
            });
            //删除交货单
            $scope.del = function (idx) {
                $scope.Records.splice(idx, 1);
            }
            //选择了部门  给对应的字段赋值
            $scope.departentChange = function (CurrentDepartment) {
                $scope.info.Department = CurrentDepartment.DeptName;
                $scope.info.DepartmentId = CurrentDepartment.DeptCode;
                $scope.info.Company = CurrentDepartment.CompanyAbbr;
                $scope.info.CompanyId = CurrentDepartment.CmopanyCode;
            }
            //--------------------------------------------------------------------------------
            //异步查询交货单号
            $scope.GiveBillSearch = function () {
                $http.post("/BillsManager/SearchBills", { billType: 'GiveBill', pageIndex: 1, pageSize: 100, BillCode: $scope.giveBillId, timestart: $scope.timestart, timeend: $scope.timeend, LBBillCode: $scope.LBBillCode }).success(function (response) {
                    for (var i = 0; i <response.data.length; i++) {
                        response.data[i].LBBillDate = jsonDateFormat(response.data[i].LBBillDate,1); //转换时间格式
                    }
                    $scope.GiveBills = response.data;
                });
            }
            //选择了一个交货单
            $scope.selectGiveBill = function (GiveBill) {
                for (var i = 0; i < $scope.Records.length; i++) {
                    if ($scope.Records[i].BillCode == GiveBill.BillCode) {
                        alert("不能选择重复的记录！"); return;
                    }
                }
                $scope.Records.push(GiveBill);//添加交货单
                $('#givebll').modal('hide');
            }
            //提交表单
            $scope.submit = function () {
                recordBillCodes = [];
                for (var i = 0; i < $scope.Records.length; i++) {
                    recordBillCodes.push($scope.Records[i].BillCode);
                }
                $http.post("/TaskBill/SaveData", { TaskBill: $scope.info, records: recordBillCodes }).success(function (response) {
                    if (response == 'no') {
                        alert('保存失败');
                    } else {
                        alert("保存成功");
                        window.location.href = 'IndexShow?TaskBillId=' + response;
                    }
                });
            }
        })
    </script>
</body>
</html>


