
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    <style type="text/css" media="print">
        .print {
            display: none;
        }
    </style>
    <style type="text/css">
        .titletd {
            line-height: 30px;
            font-weight: 500;
            width: 80px;
        }
    </style>
    <title>入库单查看</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="recordController">
        <table border="1" style="width:100%;">
            <tr>
                <td colspan="8" style="text-align:center">
                    <h2>入库单</h2>
                    <span id="yetsave" class="label label-info print" ng-show="info.BillState==1">已保存</span>
                    <span id="yetaudit" class="label label-success print" ng-show="info.BillState==2">已审核</span>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td class="titletd">转仓单号:</td>
                <td><span ng-bind="info.LBBillCode"></span></td>
                <td class="titletd">单据日期:</td>
                <td><span ng-bind="info.LBBillDate"></span></td>
                <td class="titletd">发运仓:</td>
                <td><span ng-bind="info.LBFrom"></span></td>
                <td class="titletd">移动类型:</td>
                <td><span ng-bind="info.LBMoveType"></span></td>
            </tr>
            <tr>
                <td class="titletd">备注:</td>
                <td colspan="7"><span ng-bind="info.LBRemark"></span></td>

            </tr>
            <tr>
                <td class="titletd">入库单号:</td>
                <td><span ng-bind="info.BillCode"></span></td>
                <td class="titletd">入库日期:</td>
                <td><span ng-bind="info.CreateDate"></span></td>
                <td class="titletd">仓库:</td>
                <td><span ng-bind="info.Warehouse"></span></td>
                <td class="titletd">入库类别:</td>
                <td><span ng-bind="info.InputType"></span></td>
            </tr>
            <tr>
                <td class="titletd">仓管员:</td>
                <td><span ng-bind="info.ChargePerson"></span></td>
                <td class="titletd">制单人:</td>
                <td><span ng-bind="info.MakePerson"></span></td>
                <td class="titletd">审核人:</td>
                <td><span ng-bind="info.ExaminePerson"></span></td>
                <td class="titletd">审核日期:</td>
                <td><span ng-bind="info.ExamineDate"></span></td>
            </tr>
            <tr>
                <td class="titletd">业务模式:</td>
                <td><span ng-bind="info.BusinessType"></span></td>
                <td class="titletd">装卸类型:</td>
                <td><span ng-bind="info.LoadGoodsType"></span></td>
                <td class="titletd">备注:</td>
                <td colspan="5"><span ng-bind="info.Remark"></span></td>
            </tr>
        </table>
        <div>
            <table style="width:100%" border="1">
                <tr>
                    <th>编号</th>
                    <th>物料编码</th>
                    <th>产品线</th>
                    <th>产品名称</th>
                    <th>包装规格</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>单位重量</th>
                    <th>重量</th>
                    <th>批次</th>
                    <th>货位</th>
                </tr>
                <tr ng-repeat="record in info.Record">
                    <td>{{$index+1}}</td>
                    <td>{{record.ItemCode}}</td>
                    <td>{{record.ItemLine}}</td>
                    <td>{{record.ItemName}}</td>
                    <td>{{record.ItemSpecifications}}</td>
                    <td>{{record.ItemUnit}}</td>
                    <td>{{record.Count}}</td>
                    <td>{{record.UnitWeight}}</td>
                    <td>{{record.Weight}}</td>
                    <td>{{record.ItemBatch}}</td>
                    <td>{{record.ItemLocation}}</td>
            </table>
            <br />
            <div style="text-align:center" class="print">
                @* 判断 按钮权限btnPower.indexOf(52)!=-1*@
                <button id="edit" type="button" class="btn btn-success btn-md" ng-click="edit()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;编&nbsp;&nbsp;&nbsp;辑&nbsp;&nbsp;&nbsp;</button>
                <button id="audit" type="button" class="print btn btn-info btn-md " ng-click="examine()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;审&nbsp;&nbsp;&nbsp;核&nbsp;&nbsp;&nbsp;</button>
                <button id="abandon" type="button" class=" print btn btn-info btn-md " ng-click="giveupexamine()" ng-show="info.BillState==2">&nbsp;&nbsp;&nbsp;弃&nbsp;&nbsp;&nbsp;审&nbsp;&nbsp;&nbsp;</button>
                <button id="print" class=" print btn btn-success btn-md " ng-click="gotoPrintPage()">&nbsp;&nbsp;&nbsp;打&nbsp;&nbsp;&nbsp;印&nbsp;&nbsp;&nbsp;</button>
                <button id="print" class=" print btn btn-info btn-md " ng-click="exportExcel()">&nbsp;&nbsp;&nbsp;导&nbsp;&nbsp;&nbsp;出&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                return date.getFullYear() + "-" + month + "-" + day;
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('recordController', function ($scope, $http) {
            //设置按钮权限
            @{if (Session["btnPower"] != null) { Session["btnPower"] = "[]"; } }
            $scope.btnPower = @Session["btnPower"];
            //请求表单数据
            $http.post("/TransferBill/GetData", {}, { params: { "TransferBillId": "@ViewBag.TransferBillId" } }).success(function (response) {
                //修改时间格式
                response.LBBillDate = jsonDateFormat(response.LBBillDate);
                response.CreateDate = jsonDateFormat(response.CreateDate);
                response.ExamineDate = jsonDateFormat(response.ExamineDate);
                //绑定数据源
                $scope.info = response;
            });
            //---------------------------------------------------------------------------
            //审核（examine）
            $scope.examine = function () {
                $http.post("/TransferBill/Examine", {}, { params: { "TransferBillId": "@ViewBag.TransferBillId" } }).success(function (response) {
                    if (response == '审核成功') {
                        window.location.href = 'IndexShow?TransferBillId=@ViewBag.TransferBillId';
                    } else {
                        alert(response);
                    }
                });
            }
            //跳转到编辑页
            $scope.edit = function () {
                window.location.href = 'Index?TransferBillId=@ViewBag.TransferBillId';
            }

            //弃审
            $scope.giveupexamine = function () {
                $http.post("/TransferBill/GiveupExamine", { billCode: "@ViewBag.TransferBillId" }).success(function (response) {
                    if (response == '操作成功') {
                        window.location.href = 'IndexShow?TransferBillId=@ViewBag.TransferBillId';
                    } else {
                        alert(response);
                    }
                })
            }
            //打印
            $scope.gotoPrintPage = function () {
                setTimeout(window.print(), 200)
            }
            //导出excel
            $scope.exportExcel = function () {
                window.open("/ExportBill/ExprotExcel?billType=transferBill&billId=@ViewBag.TransferBillId");
            }
        })
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>
