
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.billTypeName</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    <link href="~/Content/isteven-multi-select/isteven-multi-select.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/angularJs")
    <script src="~/Scripts/isteven-multi-select/isteven-multi-select.js"></script>
    <style>
        .tdname {
            width:100px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="Main"> 
        <div class="row" style="width:100%">
            <form ng-submit="submit()">
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td colspan="8" style="text-align:center"><h2>@ViewBag.billTypeName</h2></td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-md" data-toggle="modal" data-target="#itemchoose">取数条件设置</a></td>
                            <td colspan="7"></td>
                        </tr>
                        <tr>
                            <td>单据编号：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.BillCode" placeholder="自动生成" disabled /></td>
                            <td>单据日期</td>
                            <td><input class="form-control input-sm" type="date" name="name" ng-model="info.BillDate" required /></td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td class="tdname">公司：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.Company" placeholder="选择部门后自动获取" disabled /></td>
                            <td class="tdname">部门：</td>
                            <td><select class="form-control input-sm" ng-options="Departent.DeptName for Departent in Departents" ng-model="CurrentDepartment" ng-change="departentChange(CurrentDepartment)" required><option value=""></option></select></td>
                            <td class="tdname">备注：</td>
                            <td colspan="3"><input class="form-control input-sm" type="text" name="name" ng-model="info.Remark" /></td>
                        </tr>
                        <tr>
                            <td class="tdname">制单人：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.MakePerson" placeholder="自动获取" disabled /></td>
                            <td class="tdname">制单日期：</td>
                            <td><input class="form-control input-sm" type="date" name="name" ng-model="info.CreateDate" disabled /></td>
                            <td class="tdname">审核人：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.ExaminePerson" placeholder="自动获取" disabled /></td>
                            <td class="tdname">审核日期：</td>
                            <td><input class="form-control input-sm" type="date" name="name" ng-model="info.ExamineDate" disabled /></td>
                        </tr>
                    </table>
                    <div style="width:1115px;overflow:scroll">
                        <table class="table table-bordered" style="font-size: 14px;">
                            <tr>
                                <th nowrap="nowrap">编号</th>
                                <th nowrap="nowrap" style="width:120px;">费用项目编码</th>
                                <th nowrap="nowrap" style="width:120px;">费用项目名称</th>
                                <th nowrap="nowrap">单据类型</th>
                                <th nowrap="nowrap" style="width:100px;">单据编码</th>
                                <th nowrap="nowrap" style="width:100px;">审核日期</th>
                                <th nowrap="nowrap" style="width:100px;">公司</th>
                                <th nowrap="nowrap" style="width:150px;">部门</th>
                                <th nowrap="nowrap" style="width:130px;">仓库</th>
                                <th nowrap="nowrap" style="width:100px;">业务类型</th>
                                <th nowrap="nowrap" style="width:100px;">装卸类型</th>
                                <th nowrap="nowrap" style="width:100px;">物料编码</th>
                                <th nowrap="nowrap" style="width:100px;">物料分类</th>
                                <th nowrap="nowrap" style="width:180px;">产品名称</th>
                                <th nowrap="nowrap" style="width:100px;">包装规格</th>
                                <th nowrap="nowrap" style="width:80px;">单位</th>
                                <th nowrap="nowrap" style="width:100px;">单位重量</th>
                                <th nowrap="nowrap" style="width:100px;">数量</th>
                                <th nowrap="nowrap" style="width:100px;">重量</th>
                                <th nowrap="nowrap" ng-show="UnitPriviceShow(@ViewBag.billType)">装卸单价(元/吨)</th>
                                <th nowrap="nowrap" ng-show="UnitPriviceShow2(@ViewBag.billType)">力资费单价(元/吨)</th>
                                <th nowrap="nowrap" style="width:150px;">总金额</th>
                                <th nowrap="nowrap" style="width:150px;">备注</th>
                            </tr>
                            <tr ng-repeat="record in info.LoadingAndLaborCostDetail">
                                <td>{{$index+1}}</td>  @*编号*@
                                <td>{{record.CostItemCode}}</td>
                                <td>{{record.CostItemName}}</td>
                                <td>{{record.ListType}}</td>
                                <td>{{record.BillCode}}</td>
                                <td>{{record.BillExamineDate}}</td>
                                <td>{{record.Company}}</td>
                                <td>{{record.Department}}</td>
                                <td>{{record.Warehouse}}</td>
                                <td>{{record.BusinessType}}</td>
                                <td>{{record.LoadingType}}</td>
                                <td>{{record.ItemCode}}</td>
                                <td>{{record.ItemLine}}</td>
                                <td>{{record.ItemName}}</td>
                                <td>{{record.ItemSpecifications}}</td>
                                <td>{{record.ItemUnit}}</td>
                                <td>{{record.UnitWeight}}</td>
                                <td>{{record.Count}}</td>
                                <td>{{record.Weight}}</td>
                                <td ng-show="UnitPriviceShow(@ViewBag.billType)"><input class="form-control input-sm" type="text" ng-model="record.LoadingUnitPrice" /></td>
                                <td ng-show="UnitPriviceShow2(@ViewBag.billType)"><input class="form-control input-sm" type="text" ng-model="record.LaborUnitPrice" /></td>
                                <td><input class="form-control input-sm" type="text" ng-model="record.AllAmount" /></td>
                                <td><input class="form-control input-sm" type="text" ng-model="record.Remark" /></td>
                            </tr>
                        </table>
                    </div>
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-success btn-md">&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
            
                @*-------------------------------------取数条件模态框-----------------------------------------*@
            <div class="modal fade" id="itemchoose">
                <form ng-submit="btnQuery()">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" ng-click="btnclose()" class="close">X</button>
                                <h4 class="modal-title">请选择取数条件</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped table-condensed">
                                    <tr>
                                        <td style="width:100px;">公司：</td>
                                        <td><input class="form-control input-sm" type="text" name="name" ng-model="Company2" placeholder="选择部门后自动获取" disabled /></td>
                                        <td style="width:100px;">部门：</td>
                                        <td><select class="form-control input-sm" name="name" ng-options="Departent.DeptName for Departent in Departents" ng-model="Current2Department" required="required"  ng-change="departentChange2(Current2Department)" ><option value=""></option></select></td>
                                    </tr>
                                    <tr>
                                        <td>单据类型：</td>
                                        <td colspan="3">
                                            <input type="checkbox" ng-model="A.TransferBill" />入库单
                                            <input type="checkbox" ng-model="A.BackInput" />退库单
                                            <input type="checkbox" ng-model="A.GiveBill" />交货单
                                            <input type="checkbox" ng-model="A.BackOutput" />退货单
                                            <input type="checkbox" ng-model="A.GiveBackBill" />交货回执单
                                            <span style="color:#ff0000">(* 必选)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>业务模式：</td>
                                        @*<td><select class="form-control input-sm"  ng-options=" businesstype for businesstype in businesstypes" ng-model="a.businesstype"></select></td>*@
                                        <td colspan="2">
                                            <div isteven-multi-select
                                                 input-model="BusinessTypes"
                                                 output-model="outputBusinessTypes"
                                                 button-label="Name"
                                                 item-label="Name"
                                                 tick-property="ticked"
                                                 helper-elements=""
                                                 max-labels="2"
                                                 translation="localLang"
                                                 max-height="200px"
                                                 >
                                            </div>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td>仓库：</td>
                                        <td>
                                            @*<select class="form-control input-sm" ng-options="warehouse.Name for warehouse in Warehouses" ng-model="currentWarehouse2" ng-change="WarehouseChange2(currentWarehouse2)"></select>*@
                                            <div isteven-multi-select
                                                 input-model="Warehouses"
                                                 output-model="outputWarehouseid"
                                                 button-label="Name"
                                                 item-label="Name"
                                                 tick-property="ticked"
                                                 helper-elements=""
                                                 max-labels="2"
                                                 translation="localLang"
                                                 max-height="200px">
                                            </div>
                                        </td>
                                        <td>装卸类型：</td>
                                        <td>@*<select class="form-control input-sm" ng-options=" LoadGoodsType for LoadGoodsType in LoadGoodsTypes" ng-model="A.LoadGoodsType"></select>*@
                                            <div isteven-multi-select
                                                 input-model="LoadGoodsTypes"
                                                 output-model="outputLodingType"
                                                 button-label="Name"
                                                 item-label="Name"
                                                 tick-property="ticked"
                                                 helper-elements=""
                                                 max-labels="2"
                                                 translation="localLang"
                                                 max-height="200px">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>审核日期：</td>
                                        <td><input class="form-control input-sm" type="date" name="name" ng-model="A.dateStart" /></td>
                                        <td style="width:50px;">~</td>
                                        <td><input class="form-control input-sm" type="date" name="name" ng-model="A.dateEnd" required /></td>
                                    </tr>
                                </table>
                                <div style="text-align:right"><button type="submit" class="btn btn-success btn-md">确定</button></div>
                            </div>
                        </div><!-- /.modal-content -->

                    </div><!-- /.modal-dialog -->
                </form>su
            </div><!-- /.modal -->
                @*-------------------------------------取数条件模态框end-----------------------------------------*@
            
        </div>
    </div>
    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                var date = date.getFullYear() + "-" + month + "-" + day;
                return new Date(date);
            } catch (ex) {
                return "";
            }
        }
        //json日期格式转换为正常格式
        function jsonDateFormat2(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                var date = date.getFullYear() + "-" + month + "-" + day;
                return date;
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', ['isteven-multi-select']);
        //自定义时间转换过滤器
        //myApp.filter("jsDate", function () { return function (x) { if (null == x) { return null; } else { return new Date(parseInt(x.substr(6))); } }; });
        //数据控制器
        myApp.controller('Main', function ($scope, $http) {
            $scope.localLang = {
                nothingSelected: "--------请选择--------"         //default-label is deprecated and replaced with this.
            }
            //$scope.BusinessTypes = [];
            $scope.outputBusinessTypes = [];
            $scope.outputLodingType = [];
            $scope.outputWarehouseid = [];
            $scope.A = {};
            //根据页面类型是否显示单价
            $scope.UnitPriviceShow = function (billtype) {
                if (billtype == 1 || billtype == 2) {
                    return true;
                }
                return false;
            }
            $scope.UnitPriviceShow2 = function (billtype) {
                if (billtype == 3) {
                    return true;
                }
                return false;
            }

            //获取基础数据
            $http.post("/BaseInfo/GetBaseInfo").success(function (response) {
                $scope.Departents = response.Departent;
                $scope.Warehouses = response.Warehouse;
                //$scope.LoadGoodsTypes = response.LoadGoodsType;
                var LoadGoodsTypess = new Array();
                if (response.LoadGoodsType != null) {
                    for (var i = 0; i < response.LoadGoodsType.length; i++) {
                        var a = new Object();
                        a.Name = response.LoadGoodsType[i];
                        LoadGoodsTypess.push(a);
                    }
                }
                $scope.LoadGoodsTypes = LoadGoodsTypess;
                //$scope.BusinessTypes = response.BusinessType;
                var BusinessTypess = new Array();
                if (response.BusinessType != null) {
                    for (var i = 0; i < response.BusinessType.length; i++) {
                        var a = new Object();
                        a.Name = response.BusinessType[i];
                        BusinessTypess.push(a);
                    }
                }
                $scope.BusinessTypes = BusinessTypess;
                $http.post("/BaseCostItemAndItemLine/GetBaseData").success(function (response) {
                    $scope.CostItems = response.CostItem;
                    $scope.ItemLines = response.ItemLine;
                    //如果有单号 获取单据内容
                    $http.post("/LoadingExpensesBill/GetData", {}, { params: { "LoadingExpensesBillId": "@ViewBag.LoadingExpensesBillId" } }).success(function (response) {
                        //绑定数据源
                        if (response == "没有单据类型！") {
                            alert(response);
                        }
                        else {
                            $scope.info = response;
                            if (response.Id != '00000000-0000-0000-0000-000000000000') //如果不是新表单
                            {
                                //修改时间格式
                                $scope.info.CreateDate = jsonDateFormat($scope.info.CreateDate);
                                $scope.info.ExamineDate = jsonDateFormat($scope.info.ExamineDate);
                                response.BillDate = jsonDateFormat(response.BillDate);
                                for (var i = 0; i < response.LoadingAndLaborCostDetail.length; i++) {
                                    response.LoadingAndLaborCostDetail[i].BillExamineDate = jsonDateFormat2(response.LoadingAndLaborCostDetail[i].BillExamineDate)
                                    response.LoadingAndLaborCostDetail[i].BillExamineDate = response.LoadingAndLaborCostDetail[i].BillExamineDate.substr(0, 11);
                                }
                                //给当前部门赋值
                                for (var i = 0; i < $scope.Departents.length; i++) {
                                    if ($scope.Departents[i].DeptCode == $scope.info.DepartmentId) {
                                        $scope.CurrentDepartment = $scope.Departents[i];
                                        break;
                                    }
                                }
                            }
                        }
                    });
                });
            });
            //----------------------------------------------------------------------------
            //选择了部门  给对应的字段赋值
            $scope.departentChange = function (CurrentDepartment) {
                $scope.info.Company = CurrentDepartment.CompanyAbbr;
                $scope.info.CompanyId = CurrentDepartment.CmopanyCode;
                $scope.info.Department = CurrentDepartment.DeptName;
                $scope.info.DepartmentId = CurrentDepartment.DeptCode;
            }
            //选择了部门  给对应的字段赋值
            $scope.departentChange2 = function (CurrentDepartment2) {
                $scope.A.Department2Id = CurrentDepartment2.DeptCode;
                $scope.Company2 = CurrentDepartment2.CompanyAbbr;
            }
            //--------------------------------------------------------------------
            //选择了仓库数据
            $scope.WarehouseChange2 = function (warehouse) {
                $scope.A.Warehouse2Id = warehouse.Id;
            }
            //--------------------------------------------------------------
            //---------------------------------------------------------------------------
            $scope.btnQuery = function () {
                $http.post("/LoadingExpensesBill/GetBillDetail", { A: $scope.A, Businesstype: $scope.outputBusinessTypes, LodingType: $scope.outputLodingType, Warehouseid: $scope.outputWarehouseid }).success(function (response) {
                    for (var i = 0; i < response.LoadingAndLaborCostDetail.length; i++) {
                        response.LoadingAndLaborCostDetail[i].BillExamineDate = jsonDateFormat2(response.LoadingAndLaborCostDetail[i].BillExamineDate)
                        response.LoadingAndLaborCostDetail[i].BillExamineDate = response.LoadingAndLaborCostDetail[i].BillExamineDate.substr(0, 11);
                        if (response.LoadingAndLaborCostDetail[i].AllAmount != null)
                        {
                            response.LoadingAndLaborCostDetail[i].AllAmount = response.LoadingAndLaborCostDetail[i].AllAmount.toFixed(2);
                        } 
                    }
                    $scope.info = response;
                    $scope.Company2 = null;
                    $scope.Current2Department = null;
                    $scope.A.TransferBill=null;
                    $scope.A.BackInput=null;
                    $scope.A.GiveBill=null;
                    $scope.A.BackOutput=null;
                    $scope.A.GiveBackBill = null;
                    $scope.A.dateStart = null;
                    $scope.A.dateEnd = null;
                    $scope.outputBusinessTypes = [];
                })
                $("#itemchoose").modal('hide');
            }
            //--------------------------------------------------------------------
            //模态框关闭事件
            $scope.btnclose = function () {
                $scope.Company2 = null;
                $scope.Current2Department = null;
                $scope.A.TransferBill = null;
                $scope.A.BackInput = null;
                $scope.A.GiveBill = null;
                $scope.A.BackOutput = null;
                $scope.A.GiveBackBill = null;
                $scope.A.dateStart = null;
                $scope.A.dateEnd = null;
                $("#itemchoose").modal('hide');
            }
            //--------------------------
            //提交表单
            $scope.submit = function () {
                $http.post("/LoadingExpensesBill/SaveData", { LoadingExpensesBill: $scope.info }).success(function (response) {
                    if (response == 'no') {
                        alert('保存失败');
                    }
                    else if (response == "没有单据类型！") {
                        alert(response);
                    }
                    else {
                        window.location.href = 'IndexShow?LoadingExpensesBillId=' + response;
                    }
                });
            }
        })
    </script>
</body>
</html>
