
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>盘点单查看</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")

    <style type="text/css" media="print">
        .PrintCheckBillStyle {
            display: none;
        }
    </style>
    <style type="text/css">
        .item {
            min-width: 95px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="recordController">
        <div style="width:100%">
            <form ng-submit="save()">
                <div>
                    <table style="width:100%;" border="1">
                        <tr>
                            <td colspan="12" style="text-align:center">
                                <h2>盘点单查看</h2>
                                <span class="label label-info PrintCheckBillStyle" ng-show="info.BillState==1">已保存</span>
                                <span class="label label-success PrintCheckBillStyle" ng-show="info.BillState==2">已审核</span>
                                <br />
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>仓库：</td>
                            <td class="item">
                                {{info.Warehouse}}
                            </td>
                            <td>盘点单号：</td>
                            <td>{{info.BillCode}}</td>
                            <td>所属部门：</td>
                            <td class="item">
                                {{info.Department}}
                            </td>
                            <td>制单人：</td>
                            <td>
                                {{info.MakePerson}}
                            </td>
                            <td>制单日期：</td>
                            <td>
                                {{info.CreateDate}}
                            </td>
                        </tr>
                        <tr>
                            <td>入库类别：</td>
                            <td>
                                {{info.InputType}}
                            </td>
                            <td>出库类别：</td>
                            <td>{{info.OutputType}}</td>
                            <td>审核人：</td>
                            <td>
                                {{info.ExaminePerson}}
                            </td>
                            <td>审核日期：</td>
                            <td colspan="3">
                                {{info.ExamineDate}}
                            </td>
                        </tr>
                        <tr class="PrintCheckBillStyle">
                            <td ><span  >筛选：</span></td>
                            <td><input type="text" class="form-control input-sm" name="name" value="" placeholder="筛选" ng-model="ressearchstr" /></td>
                            <td><span  >排序：</span></td>
                            <td class="item" colspan="7">
                                <div >
                                    <input type="radio" id="sele1" name="name" value="ItemCode" ng-model="sort" /><label for="sele1">按品项</label>
                                    <input type="radio" id="sele2" name="name" value="ItemBatch" ng-model="sort" /><label for="sele2">按批次</label>
                                    <input type="radio" id="sele3" name="name" value="ItemLocation" ng-model="sort" /><label for="sele3">按货位</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table style="width:100%;" border="1">
                        <tr>
                            <th>编号</th>
                            <th>物料编码</th>
                            <th>物料分类</th>
                            <th>产品名称</th>
                            <th>包装规格</th>
                            <th>单位</th>
                            <th>批次</th>
                            <th>货位编码</th>
                            <th>货位名称</th>
                            <th>账面数量</th>
                            <th>盘点数量</th>
                        </tr>
                        <tr ng-repeat="record in Records| filter:ressearchstr|orderBy:sort:false">
                            <td>{{$index+1}}</td>  @*编号*@
                            <td>{{record.ItemCode}}</td>
                            <td>{{record.ItemLine}}</td>
                            <td>{{record.ItemName}}</td>
                            <td>{{record.ItemSpecifications}}</td>
                            <td>{{record.ItemUnit}}</td>
                            <td>{{record.ItemBatch}}</td>
                            <td>{{record.ItemLocationId}}</td>
                            <td>{{record.ItemLocation}}</td>
                            <td>{{record.Count}}</td>
                            <td>{{record.ChangeCount}}</td>
                        </tr>
                    </table>
                    <br />
                    <div style="text-align:center" class="PrintCheckBillStyle">
                        <button type="button" class="btn btn-success btn-md" ng-click="edit()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;编&nbsp;&nbsp;&nbsp;辑&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-info btn-md" ng-click="examine()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;审&nbsp;&nbsp;&nbsp;核&nbsp;&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-info btn-md" ng-click="giveupexamine()" ng-show="info.BillState==2">&nbsp;&nbsp;&nbsp;弃&nbsp;&nbsp;&nbsp;审&nbsp;&nbsp;&nbsp;</button>
                        &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info btn-md" ng-click="PrintCheckBill()">打 　　印</button>
                        <button type="button" class="print btn btn-danger btn-md " ng-click="deleteBill()" ng-show="info.BillState==1">&nbsp;&nbsp;&nbsp;删&nbsp;&nbsp;&nbsp;除&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                var date = date.getFullYear() + "-" + month + "-" + day;
                return date;
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('recordController', function ($scope, $http) {
            //如果有单号 获取单据内容
            $http.post("/CheckBill/GetData", {}, { params: { "CheckBillId": "@ViewBag.CheckBillId" } }).success(function (response) {
                response.CreateDate = jsonDateFormat(response.CreateDate);
                response.ExamineDate = jsonDateFormat(response.ExamineDate);
                //绑定数据源
                $scope.info = response;
                $scope.Records = $scope.info.CheckDetail;//子表数据
            });

            //审核（examine）
            $scope.examine = function () {
                $http.post("/CheckBill/Examine", {}, { params: { "CheckBillId": "@ViewBag.CheckBillId" } }).success(function (response) {
                    if (response == '审核成功！') {
                        window.location.href = 'IndexShow?CheckBillId=@ViewBag.CheckBillId';
                    } else {
                        alert(response);
                    }
                });
            }
            //跳转到编辑页
            $scope.edit = function () {
                window.location.href = 'Index?CheckBillId=@ViewBag.CheckBillId';
            }

            //弃审
            $scope.giveupexamine = function () {
                $http.post("/CheckBill/GiveupExamine", { billCode: "@ViewBag.CheckBillId" }).success(function (response) {
                    if (response == '弃审成功！') {
                        window.location.href = 'IndexShow?CheckBillId=@ViewBag.CheckBillId';
                    } else {
                        alert(response);
                    }
                })
            }
            //打印盘点单
            $scope.PrintCheckBill = function () { setTimeout(window.print(), 200) };
            //删除单据
            $scope.deleteBill = function () {
                if ($scope.info.BillState != 1) {
                    alert('只有已保存状态的单据才可以删除！');
                    return;
                }
                $http.post('/CheckBill/DeleteBill', { BillId: '@ViewBag.CheckBillId' }).success(function (response) {
                    alert(response);
                    if (response == '删除成功！') {
                        window.parent.window.parent.closeCurrentPage();//关闭当前页
                    }

                });
            }
        });
    </script>
</body>
</html>
