
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>业务类型</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    <style>
        .th {
            width: 13%;
        }
    </style>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="CostUnitPriceListController">
        <div class="row" style="width:100%">
            <form ng-submit="btnSave()">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <td colspan="9" style="text-align:center"><h2>@ViewBag.billTypeName</h2></td>
                        </tr>
                        <tr>
                            <td>开始时间：</td>
                            <td><input class="form-control" type="date" name="name" ng-model="timestart" /></td>
                            <td>结束时间：</td>
                            <td><input class="form-control" type="date" name="name" ng-model="timeend" /></td>
                            <td>单据状态：</td>
                            <td>
                                <input type="radio" name="name" ng-model="BillState" value="1" id="save" /><label for="save">已保存</label>
                                <input type="radio" name="name" ng-model="BillState" value="2" id="examine" /><label for="examine">已审核</label>
                            </td>
                            <td>部门：</td>
                            <td><select class="form-control" ng-options="Departent.DeptCode as Departent.DeptName for Departent in Departents" ng-model="DepartmentId"></select></td>
                            @*<td>仓库：</td>
                            <td>
                                <select class="form-control" ng-options="Warehouse.Id as Warehouse.Name for Warehouse in Warehouses" ng-model="WarehouseId"></select>
                            </td>*@
                            <td>
                                <button type="button" class="btn btn-success btn-md" ng-click="searchBill(1)">&nbsp;&nbsp;&nbsp;查&nbsp;&nbsp;&nbsp;询&nbsp;&nbsp;&nbsp;</button>
                            </td>
                        </tr>
                    </table>
                    @*内容*@
                    <div>
                        <table class="table table-bordered table-striped table-condensed">
                            <tr>
                                <th>编号</th>
                                <th>单据编码</th>
                                <th>备注</th>
                                <th>制单人</th>
                                <th>制单日期</th>
                                <th>审核人</th>
                                <th>审核日期</th>
                                <th>部门</th>
                            </tr>
                            <tr ng-repeat="record in data" ng-dblclick="itemClick(record.Id)">
                                <td>{{$index+1}}</td>
                                <td>{{record.Billcode}}</td>
                                <td>{{record.Remark}}</td>
                                <td>{{record.MakePerson}}</td>
                                <td>{{record.CreateDate}}</td>
                                <td>{{record.ExaminePerson}}</td>
                                <td>{{record.ExamineDate}}</td>
                                <td>{{record.Department}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                var date = date.getFullYear() + "-" + month + "-" + day;
                return  date;
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('CostUnitPriceListController', function ($scope, $http, $timeout) {
            //基础数据
            $http.post("/BaseInfo/GetBaseInfo").success(function (response) {
                $scope.Warehouses = response.Warehouse;
                $scope.Departents = response.Departent;
            });
            $scope.billType=@ViewBag.billType;
            $scope.pageSize = 10;//每页10条
            //开始查询
            $scope.searchBill = function (pageIndex) {
                $scope.pageIndex = pageIndex;
                $http.post('/CostUnitList/SearchBills', { billType: $scope.billType, pageIndex: pageIndex, pageSize: $scope.pageSize, timestart: $scope.timestart, timeend: $scope.timeend, BillState: $scope.BillState, DepartmentId: $scope.DepartmentId, WarehouseId: $scope.WarehouseId }).success(function (response) {
                    //处理数据
                    for (var i = 0; i < response.data.length; i++) {
                        //处理时间
                        response.data[i].ExamineDate = jsonDateFormat(response.data[i].ExamineDate);
                        response.data[i].CreateDate = jsonDateFormat(response.data[i].CreateDate);
                        //处理订单状态
                        response.data[i].state = response.data[i].BillState == 1 ? '已保存' : '已审核';
                    }
                    $scope.data = response.data;//赋值
                    $scope.totalCount = response.totalCount;//总数
                    $scope.pageCount = Math.ceil($scope.totalCount / $scope.pageSize);//页数
                });
            }

            //跳转到详情页
            $scope.itemClick = function (Id) {
                window.parent.sonAddTab('500', '单据详情', '/CostUnitList/IndexShow?billType=' + $scope.billType +'&&CostUnitListId='+Id);
            }
            //上一页
            $scope.lastPage = function () {
                if ($scope.pageIndex < 2) { return; }
                $scope.pageIndex--;
                $scope.searchBill($scope.pageIndex);
            }
            //下一页
            $scope.nextPage = function () {
                if ($scope.pageIndex >= $scope.pageCount) { return; }
                $scope.pageIndex++;
                $scope.searchBill($scope.pageIndex);
            }
            //手动换页
            $scope.changePage = function () {
                if ($scope.pageIndex < 2) {
                    $scope.pageIndex = 1;
                    return;
                }
                if ($scope.pageIndex > $scope.pageCount) {
                    $scope.pageIndex = $scope.pageCount;
                    return;
                }
                $scope.searchBill($scope.pageIndex);
            }
        })
    </script>
</body>
</html>
