
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>交货单</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    @Scripts.Render("~/bundles/billsCommon")
    <style>
        .tdname {
            width: 110px;
        }

        .tdname2 {
            width: 90px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="recordController">
        <div class="row" style="width:100%">
            <form ng-submit="submit()">
                <div class="col-xs-12 table-responsive">
                    <table>
                        <tr>
                            <td colspan="8" style="text-align:center"><h2>交货单</h2></td>
                        </tr>
                        <tr>
                            <td class="tdname">立邦客户编号：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBCustomerCode" placeholder="请先选择线路" required /></td>
                            <td class="tdname">联系人：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBContacts"  /></td>
                            <td class="tdname">任务单号：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.TaskBillCode" disabled /></td>
                            <td class="tdname">交货日期：</td>
                            <td><input class="form-control input-sm" type="date" name="name" ng-model="info.LBBillDate" required /></td>
                        </tr>
                        <tr>
                            <td>立邦客户名称：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBCustomerName" required /></td>
                            <td>电话：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBPhone"  /></td>
                            <td>立邦交货单号：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBBillCode"  /></td>
                            <td>备注：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBRemark" /></td>
                        </tr>
                        <tr>
                            <td>邮编：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.LBMailCode" /></td>
                            <td>送货地址：</td>
                            <td colspan="5"><input class="form-control input-sm" type="text" ng-model="info.LBSendAddress" name="name" required /></td>
                        </tr>
                    </table>
                    <hr style="border:1px solid #9b9595;margin-bottom:3px;margin-top:3px;" />
                    <table>
                        <tr>
                            <td class="tdname2">出库单号：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.BillCode" disabled /></td>
                            <td class="tdname2">出库日期：</td>
                            <td><input class="form-control input-sm" type="date" name="name" ng-model="info.CreateDate" required /></td>
                            <td class="tdname2">出库类别：</td>
                            <td><inouttypeselect inouttypes="InOutTypes" inputtypename="info.OutputType" inputtypeid="info.OutputTypeId" current="currentInOutType"></inouttypeselect></td>
                            <td class="tdname2">仓库：</td>
                            <td><input class="form-control input-sm" type="text" name="name" ng-model="info.Warehouse" data-toggle="modal" data-target="#wareHousechoose" required /></td>
                            <td class="tdname2">业务模式：</td>
                            <td><select class="form-control input-sm" ng-options="BusinessType for BusinessType in BusinessTypes" ng-model="info.BusinessType" required></select></td>

                        </tr>
                        <tr>
                            <td>装卸类型：</td>
                            <td><select class="form-control input-sm" ng-options="LoadGoodsType for LoadGoodsType in LoadGoodsTypes" ng-model="info.LoadGoodsType" required></select></td>
                            <td>仓管员：</td>
                            <td><input data-toggle="modal" data-target="#personchoose" class="form-control input-sm" type="text" name="name" ng-model="info.ChargePerson" ng-click="loadperson('ChargePerson')" required /></td>
                            <td>部门：</td>
                            <td><select class="form-control input-sm" ng-options="Departent.DeptName for Departent in Departents" ng-model="CurrentDepartment" required ng-change="departentChange(CurrentDepartment)"><option value=""></option></select></td>
                            <td>审核人：</td>
                            <td><input data-toggle="modal" data-target="#personchoose" class="form-control input-sm" type="text" name="name" ng-model="info.ExaminePerson" ng-click="loadperson('ExaminePerson')" disabled /></td>
                            <td>审核日期：</td>
                            <td><input class="form-control input-sm" type="date" name="name" ng-model="info.ExamineDate" disabled /></td>
                        </tr>
                        <tr>
                            <td>线路：<span class="glyphicon glyphicon-search" data-toggle="modal" data-target="#lineWay"></span></td>
                            <td colspan="3"><input class="form-control input-sm" type="text" name="name" ng-model="info.LineWay"/></td>
                            <td>备注：</td>
                            <td colspan="3"><input class="form-control input-sm" type="text" name="name" ng-model="info.Remark" /></td>
                            <td>制单人：</td>
                            <td><input data-toggle="modal" data-target="#personchoose" class="form-control input-sm" type="text" name="name" ng-model="info.MakePerson" ng-click="loadperson('MakePerson')" disabled /></td>
                        </tr>
                    </table>
                    <hr style="border:1px solid #9b9595;margin-bottom:3px;margin-top:3px;" />
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <th>编号</th>
                            <th>物料编码</th>
                            <th>物料分类</th>
                            <th>产品名称</th>
                            <th>包装规格</th>
                            <th>单位</th>
                            <th>单位重量(KG)</th>
                            <th>数量</th>
                            <th>重量(KG)</th>
                            <th>批次</th>
                            <th>货位</th>
                            <th>删除</th>
                        </tr>
                        <tr ng-repeat="record in info.Record">
                            <td>{{$index+1}}</td>  @*编号*@
                            <td><input data-toggle="modal" data-target="#itemchoose" class="form-control input-sm" type="text" ng-model="record.ItemCode" ng-click="loadItem($index)" required /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.ItemLine" /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.ItemName" /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.ItemSpecifications " /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.ItemUnit" /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.UnitWeight" ng-change="changeCount($index,record)" disabled /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.Count" ng-change="changeCount($index,record)" required /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.Weight" /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.ItemBatch" ng-disabled="record.IsBatch=='否'" ng-click="clickLocation($index)" required /></td>
                            <td><input class="form-control input-sm" type="text" ng-model="record.ItemLocation" ng-disabled="record.IsBatch=='是'" ng-click="clickLocation($index)" required /></td>
                            <td><button type="button" class="btn btn-danger btn-xs" ng-click="del($index)">删除</button></td>
                        </tr>
                        <tr><td><h6>合计：</h6></td><td></td><td></td><td></td><td></td><td></td><td></td><td><span ng-bind="getTotalCount()"></span></td><td><span ng-bind="getTotalWeight()"></span></td><td></td><td></td><td></td></tr>
                    </table>
                    <div>
                        <button type="button" class="btn btn-info btn-sm" ng-click="add()" style="float:right">添&nbsp;加</button>
                    </div>
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-success btn-md">&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    @*-------------------------------------品项选择模态框-----------------------------------------*@
                    <div class="modal fade" id="itemchoose">
                        <div class="modal-dialog" style="width:850px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">请选择品项</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstr" />
                                    <div style="height:400px;overflow:auto">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <tr>
                                                <th>编号</th>
                                                <th>物料编码</th>
                                                <th>物料分类</th>
                                                <th>产品名称</th>
                                                <th>包装规格</th>
                                                <th>单位</th>
                                                <th>单位重量(KG)</th>
                                            </tr>
                                            <tr ng-repeat="goodItem in GoodItems | filter:searchstr " ng-dblclick="selectItem(goodItem)">
                                                <td>{{$index+1}}</td>
                                                <td>{{goodItem.ItemCode}}</td>
                                                <td>{{goodItem.ItemLine}}</td>
                                                <td>{{goodItem.ItemName}}</td>
                                                <td>{{goodItem.ItemSpecifications}}</td>
                                                <td>{{goodItem.ItemUnit}}</td>
                                                <td>{{goodItem.UnitWeight}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    @*-------------------------------------品项选择模态框end-----------------------------------------*@

                    @*-------------------------------------人员选择模态框-----------------------------------------*@
                    <div class="modal fade" id="personchoose">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">请选择人员</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstrperson" />
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tr>
                                            <th>工号</th>
                                            <th>姓名</th>
                                        </tr>
                                        <tr ng-repeat="person in UserFrameworks | filter:searchstrperson " ng-dblclick="selectPerson(person)">
                                            <td>{{person.UserCode}}</td>
                                            <td>{{person.UserName}}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    @*-------------------------------------人员选择模态框end-----------------------------------------*@
                    @*-----------------------------------仓库选择模态框------------------------------------------------*@
                    <div class="modal fade" id="wareHousechoose">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">请选择仓库</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstrwarehouse" />
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tr>
                                            <th>仓库</th>
                                            <th>所属部门</th>
                                        </tr>
                                        <tr ng-repeat="warehouse in Warehouses | filter:searchstrwarehouse " ng-dblclick="selectWarehouse(warehouse)">
                                            <td>{{warehouse.Name}}</td>
                                            <td>{{warehouse.Department}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    @*-----------------------------------仓库选择模态框end------------------------------------------------*@

                    @*-----------------------------------货位选择模态框------------------------------------------------*@
                    <div class="modal fade" id="locationchoose">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">请选择货位</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstrlocation" />
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tr>
                                            <th>仓库</th>
                                            <th>批次</th>
                                            <th>货位名称</th>
                                            <th>数量</th>
                                        </tr>
                                        <tr ng-repeat="location in locationlist | filter:searchstrlocation " ng-dblclick="selectlocation(location)">
                                            <td>{{location.Warehouse}}</td>
                                            <td>{{location.ItemBatch}}</td>
                                            <td>{{location.ItemLocation}}</td>
                                            <td>{{location.Count}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    @*-----------------------------------货位选择模态框end------------------------------------------------*@
                    @*-----------------------------------线路选择模态框------------------------------------------------*@
                    <div class="modal fade" id="lineWay">
                        <div class="modal-dialog" style="width:850px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">请选择线路和收货单位</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstrlineway" />
                                    <div style="height:400px;overflow:auto">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <tr>
                                                <th>线路编码</th>
                                                <th>线路名称</th>
                                                <th>客户名称</th>
                                                <th>收货单位编码</th>
                                                <th>收货单位</th>
                                            </tr>
                                            <tr ng-repeat="lineway in lineWaylist | filter:searchstrlineway " ng-dblclick="selectlineway(lineway)">
                                                <td>{{lineway.SuccFulCode}}</td>
                                                <td>{{lineway.LineName}}</td>
                                                <td>{{lineway.CustomerAbbr}}</td>
                                                <td>{{lineway.DealerCode}}</td>
                                                <td>{{lineway.DealerAbbr}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    @*-----------------------------------线路选择模态框end------------------------------------------------*@
                </div>
            </form>
        </div>
    </div>
    <script>
        myApp.controller('recordController', function ($scope, $http) {
            //获取基础数据
            $http.post("/BaseInfo/GetBaseInfo", { inoutType: 'out' }).success(function (response) {
                $scope.Warehouses = response.Warehouse;
                $scope.GoodItems = response.GoodItem;
                $scope.UserFrameworks = response.UserFramework;
                $scope.LoadGoodsTypes = response.LoadGoodsType;
                $scope.BusinessTypes = response.BusinessType;
                $scope.InOutTypes = response.InOutType;
                $scope.Departents = response.Departent;
                //如果有单号 获取单据内容
                $http.post("/GiveBill/GetData", {}, { params: { "GiveBillId": "@ViewBag.GiveBillId" } }).success(function (response) {
                    //绑定数据源
                    $scope.info = response;
                    if (response.Id != '00000000-0000-0000-0000-000000000000') //如果不是新表单
                    {
                        //修改时间格式
                        $scope.info.LBBillDate = jsonDateFormat($scope.info.LBBillDate);
                        $scope.info.CreateDate = jsonDateFormat($scope.info.CreateDate);
                        $scope.info.ExamineDate = jsonDateFormat($scope.info.ExamineDate);

                        //给当前部门赋值
                        for (var i = 0; i < $scope.Departents.length; i++) {
                            if ($scope.Departents[i].DeptCode == $scope.info.DepartmentId) {
                                $scope.CurrentDepartment = $scope.Departents[i];
                                break;
                            }
                        }
                        //给当前仓库的货位赋值
                        for (var i = 0; i < $scope.Warehouses.length; i++) {
                            if ($scope.Warehouses[i].Id == $scope.info.WarehouseId) {
                                $scope.locationlist = $scope.Warehouses[i].Location;
                            }
                        }
                        //给出入库类型赋值
                        for (var i = 0; i < $scope.InOutTypes.length; i++) {
                            if ($scope.InOutTypes[i].Id == $scope.info.OutputTypeId) {
                                $scope.currentInOutType = $scope.InOutTypes[i];
                            }
                        }
                    } else {
                        //赋当前时间为默认
                        $scope.info.LBBillDate = new Date();
                        $scope.info.CreateDate = new Date();
                        //空表单默认值
                        $scope.info.LoadGoodsType = "武汉-配送客户出库装货";
                        //给出入库类型赋值
                        for (var i = 0; i < $scope.InOutTypes.length; i++) {
                            if ($scope.InOutTypes[i].Id == 20) {
                                $scope.currentInOutType = $scope.InOutTypes[i];
                                $scope.info.OutputType = $scope.InOutTypes[i].Name;
                                $scope.info.OutputTypeId = $scope.InOutTypes[i].Id;
                            }
                        }
                    }
                });
            });
            //计算总数量
            $scope.getTotalCount = function () {
                if ($scope.info == undefined) return;
                var res = 0;
                for (var i = 0; i < $scope.info.Record.length; i++) {
                    if ($scope.info.Record[i].Count != null && $scope.info.Record[i].Count != undefined) {
                        res += $scope.info.Record[i].Count;
                    }
                }
                return res.toFixed(2);
            }
            //计算总重量
            $scope.getTotalWeight = function () {
                if ($scope.info == undefined) return;
                var res = 0;
                for (var i = 0; i < $scope.info.Record.length; i++) {
                    if ($scope.info.Record[i].Weight != null && $scope.info.Record[i].Weight != undefined) {
                        res += parseFloat($scope.info.Record[i].Weight);
                    }
                }
                return res.toFixed(2);
            }
            //添加行
            $scope.add = function () {
                var obj = new Object();
                $scope.info.Record.push(obj);
            }
            //删除行
            $scope.del = function (idx) {
                $scope.info.Record.splice(idx, 1);
            }
            //自动填重量
            $scope.changeCount = function (idx, record) {
                $scope.info.Record[idx].Count = record.Count;
                record.Weight = (record.Count * record.UnitWeight).toFixed(2);
            }
            //选择了部门  给对应的字段赋值
            $scope.departentChange = function (CurrentDepartment) {
                $scope.info.Department = CurrentDepartment.DeptName;
                $scope.info.DepartmentId = CurrentDepartment.DeptCode;
                $scope.info.Company = CurrentDepartment.CompanyAbbr;
                $scope.info.CompanyId = CurrentDepartment.CmopanyCode;
            }
            //-------------------------------------------------------------------------
            //开始选择品项
            $scope.loadItem = function (idx) {
                $scope.currentItemInput = idx;//当前品项是第几行
            }
            //选择了品项  传进goodItem对象
            $scope.selectItem = function (goodItem) {
                $scope.searchstr = '';//清空搜索框
                //模态框关闭
                $('#itemchoose').modal('hide');
                //赋值
                $scope.info.Record[$scope.currentItemInput].ItemCode = goodItem.ItemCode;
                $scope.info.Record[$scope.currentItemInput].ItemLine = goodItem.ItemLine;
                $scope.info.Record[$scope.currentItemInput].ItemName = goodItem.ItemName;
                $scope.info.Record[$scope.currentItemInput].ItemSpecifications = goodItem.ItemSpecifications;
                $scope.info.Record[$scope.currentItemInput].ItemUnit = goodItem.ItemUnit;
                $scope.info.Record[$scope.currentItemInput].UnitWeight = goodItem.UnitWeight;
                $scope.info.Record[$scope.currentItemInput].IsBatch = goodItem.IsBatch;
            }
            //-------------------------------------------------------------------------
            //开始选择人员
            $scope.loadperson = function (personType) {
                $scope.currentPerson = personType;//当前处理哪个人
            }
            //选择了人员数据
            $scope.selectPerson = function (person) {
                $scope.searchstrperson = '';//清空搜索框
                //模态框关闭
                $('#personchoose').modal('hide');
                //赋值
                switch ($scope.currentPerson) {
                    case 'ChargePerson': $scope.info.ChargePerson = person.UserName; break;
                    case 'MakePerson': $scope.info.MakePerson = person.UserName; break;
                    case 'ExaminePerson': $scope.info.ExaminePerson = person.UserName; break;
                    case 'LBContacts': $scope.info.LBContacts = person.UserName; break;
                    default:
                }
            }
            //-------------------------------------------------------------------------
            //选择了仓库数据
            $scope.selectWarehouse = function (warehouse) {
                $scope.searchstrwarehouse = '';
                $('#wareHousechoose').modal('hide');
                $scope.info.Warehouse = warehouse.Name;
                $scope.info.WarehouseId = warehouse.Id;
                $scope.locationlist = warehouse.Location;//设置了货位数据
            }
            //---------------------------------------------------------------------------
            //开始选择货位信息
            $scope.clickLocation = function (idx) {
                if ($scope.info.Record[idx].ItemCode == null || $scope.info.Record[idx].ItemCode == "") {
                    alert("请先选择物料档案！");
                    return false;
                }
                if ($scope.info.WarehouseId == null || $scope.info.WarehouseId == "") {
                    alert("请先选择仓库！");
                    return false;
                }
                if ($scope.info.Record[idx].Count == null) {
                    alert("请填写数量！");
                    return false;
                }
                $http.post("/GetBatchAndLocation/GetBatchAndLocations", { itemcode: $scope.info.Record[idx].ItemCode, warehouseid: $scope.info.WarehouseId }).success(function (response) {
                    if (response.length > 0) {
                        if ($scope.info.Record.length > 1) {
                            for (var j = 0; j < response.length; j++) {
                                for (var i = 0; i < $scope.info.Record.length - 1; i++) {
                                    if (response[j].ItemCode == $scope.info.Record[i].ItemCode && response[j].WarehouseId == $scope.info.WarehouseId && response[j].ItemBatch == $scope.info.Record[i].ItemBatch) {
                                        response[j].Count = response[j].Count - $scope.info.Record[i].Count;
                                    }
                                }
                                if (response[j].Count == 0) {
                                    response.splice(j, 1);
                                }
                            }

                        }
                    }
                    $scope.locationlist = response;
                });
                $scope.currentlocation = idx;
                $("#locationchoose").modal('show');
            }
            //选择了货位数据
            $scope.selectlocation = function (location) {
                $scope.info.Record[$scope.currentlocation].ItemLocation = location.ItemLocation; //保存货位信息
                $scope.info.Record[$scope.currentlocation].ItemLocationId = location.ItemLocationId;
                $scope.info.Record[$scope.currentlocation].ItemBatch = location.ItemBatch;
                if ($scope.info.Record[$scope.currentlocation].Count > location.Count) {
                    $scope.info.Record[$scope.currentlocation].Count = location.Count;
                }
                $('#locationchoose').modal('hide');
                $scope.searchstrlocation = '';
                $scope.currentlocation = null;
            }
            //--------------------------------------------------------------------------------
            //线路
            //提交表单
            $http.post("/LineWayAndDealer/GetData").success(function (response) {
                $scope.lineWaylist = response;
            });
            //选择了线路数据
            $scope.selectlineway = function (lineway) {
                $scope.info.LineWay = lineway.LineName; //线路
                $scope.info.LBCustomerCode = lineway.DealerCode; //客户编号
                $scope.info.LBCustomerName = lineway.DealerAbbr; //客户名字
                $scope.info.LBContacts = lineway.LinkMan; //联系人
                $scope.info.LBPhone = lineway.Phone; //电话
                $scope.info.LBSendAddress = lineway.Address; //地址
                $('#lineWay').modal('hide');
                $scope.searchstrlineway = '';
            }
            //-------------------------------------------------------------------------------------
            //提交表单
            $scope.submit = function () {
                $http.post("/GiveBill/SaveData", { GiveBill: $scope.info }).success(function (response) {
                    if (response == 'no') {
                        alert('保存失败');
                    } else {
                        window.location.href = 'IndexShow?GiveBillId=' + response;
                    }
                });
            }
        })
    </script>
</body>
</html>
